@using Microsoft.AspNetCore.Identity

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager


<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="user-account">

    <div class="dropdown">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-toggle user-name" data-toggle="dropdown">Witaj, <strong> @UserManager.GetUserName(User)!</strong><i class="fa fa-caret-down"></i></a>


        <ul class="dropdown-menu dropdown-menu-right account">
            <li><a href="/Identity/Account/Manage">Ustawienia</a></li>
            <li><a href="#">Wiadomosci</a></li>
            <li class="divider"></li>
            <li><a href="/Identity/Account/Register">Dodaj nowego uzytkownika</a></li>
            <li>
                <input type="submit" class="btn  btn-link" name="submit" value="Wyloguj">
            </li>
          

        </ul>
    </div>
   
</form>


