@model Brygady2.Models.Lamps

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lamps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelLamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelLamp.IdModelLamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLamp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
