@{
    ViewData["Title"] = "Home Page";
}



<div class="dashboard-section">
    <div class="section-heading clearfix">
        <h2 class="section-title"><i class="fa fa-pie-chart"></i> Website Analytics</h2>
        <a href="#" class="right">View Full Analytics Reports</a>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="number-chart">
                    <div class="mini-stat">
                        <p class="text-muted"><i class="fa fa-caret-up text-success"></i> 19% compared to last week</p>
                    </div>
                    <div class="number"><span>22,500 PLN</span> <span>EARNINGS</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="number-chart">
                    <div class="mini-stat">
                        <p class="text-muted"><i class="fa fa-caret-up text-success"></i> 24% compared to last week</p>
                    </div>
                    <div class="number"><span>245</span> <span>SALES</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="number-chart">
                    <div class="mini-stat">
                        <p class="text-muted"><i class="fa fa-caret-up text-success"></i> 44% compared to last week</p>
                    </div>
                    <div class="number"><span>561,724</span> <span>VISITS</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="number-chart">
                    <div class="mini-stat">
                        <p class="text-muted"><i class="fa fa-caret-down text-danger"></i> 6% compared to last week</p>
                    </div>
                    <div class="number"><span>372,500</span> <span>LIKES</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
